html{
    font-family: Poppins, arial;
    color: white;
}
body{
    background: url("background.png")
}
#p1{
    font-family: Poppins;
    text-align: center;
}
#rick_source{
    text-align: left;
}
#rick{
    text-align: right;
}
.btn{
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
}
/* on mouse hover */
.btn:hover {background: rgba(255, 255, 255, 0);}

.home {color: white;}
.lyrics {color: white;}
.wut {color: white;}
.form {color: white;}
.contact {color: white;}

#logo{
    position: relative; top: 24px;
}

#sunroof{
    border: solid; width: fit-content; margin: auto; height: 480px;
    pointer-events: none;
}
#menu{
    margin: 12px;
    position: relative ; left: 20px;
}
#socials{
    margin: auto; text-align: center;
}
#hr_top_index{
    width: 58%;
}
#youtube{
    position: relative; bottom: 15px; right: 50px;
}
#twitch{
    position: relative; bottom: 7px; right: 15px;
}
#tiktok{
    position: relative; bottom: 34px; left: 50px;
}