html{
    font-family: Poppins, arial;
    color: white;
    scroll-behavior: smooth;
}
body{
    background: url("assets/background.png")
}
#p1{
    font-family: Poppins;
    text-align: center;
}
#rick_source{
    text-align: left;
}
#rick{
    text-align: right;
}
.btn{
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
}
/* on mouse hover */
.btn:hover{
    background: rgba(255, 255, 255, 0);
}
.btn:hover{
    color: #8b33c4;
    animation-name: glow;
    animation-duration: 2s;
}
@keyframes glow{
    100%{text-shadow: 0px 0px 50px #8b33c4}
}

.home {color: white;}
.lyrics {color: white;}
.aboutme {color: white;}
.form {color: white;}
.contact {color: white;}

#logo{
    position: relative; top: 24px;
}

#sunroof{
    border: solid; border-radius: 20px; width: fit-content; margin: auto; height: 480px;
    pointer-events: none;
}
#menu{
    margin: 12px;
    position: relative ; left: 20px;
}
#menu a{
    text-decoration: none;

}
#hr_top_index{
    width: 65%;
}
#socials{
    margin: auto; margin-left: 90px; text-align: center;
}
#socials a{
    text-decoration: none;
}
#youtube{
    position: relative; bottom: 15px; right: 200px;
}
#youtube a{
    color: red;
}
#twitch{
    position: relative; bottom: 7px; right: 100px;
}
#twitch a{
    color: #6441a5;
}
#tiktok{
    position: relative; bottom: 3px; left: 100px;
}
#tiktok a{
    color: black;
    filter: drop-shadow(-2px -4px #24f6f0) drop-shadow(2px 5px #fe2d52); 
}
#twitter{
    position: relative; bottom: 7px; left: 200px;
}
#twitter a{
    color: white;
}
#about_me_text{
    font-family: Poppins;
}
#contact_me a{
    color: white;
}
